<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <feedback>
    <api>
      <Url name="CreateImageCode" value="http://help.huiruisoft.com/service/support/help/createImageAuthCode" />
      <Url name="CheckImageCode" value="http://help.huiruisoft.com/service/support/help/checkImageAuthCode" />
      <Url name="SendFeedback" value="http://help.huiruisoft.com/service/support/help/feedback/sendSoftFeedback" />
      <Url name="FeedbackSubjects" value="http://help.huiruisoft.com/service/support/help/subject/getAppFeedbackSubjects" />
    </api>
  </feedback>
</configuration>